name: 'build-test'
on:
  pull_request:
    paths:
      - 'prompts/**'

permissions:
  contents: read
  checks: read

jobs:
  build: # make sure build/ci work properly
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - run: npm install -g npm@11.6.4
      - run: npm ci
      - run: npm run all
  style-check:
    name: Style Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6.0.1
      - name: Use Node 20.x
        uses: actions/setup-node@v6.1.0
        with:
          node-version: '24.x'
      - name: Install npm 11.6.4
        run: npm install -g npm@11.6.4
      - name: Install Dependencies
        run: npm ci
      - name: Run Biome Check
        run: npm run biome:check
  test: # make sure the action works on a clean machine without building
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: ./
        with:
          openai-api-key: ${{ secrets.OPENAI_API_KEY }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          prompts: |
            test-prompts/*.{json,txt}
          config: 'test-prompts/promptfooconfig.yaml'
